name: Test

on: [push, pull_request]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: dependencies
        run: |
          sudo apt-get install libudev-dev
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'true'
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: cargo check

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - name: dependencies
        run: |
          sudo apt-get install libudev-dev
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'true'
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: cargo test

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - name: dependencies
        run: |
          sudo apt-get install libudev-dev
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'true'
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: dependencies
        run: |
          sudo apt-get install libudev-dev
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'true'
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add clippy
      - run: cargo clippy -- -D warnings

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: dependencies
        run: |
          sudo apt-get install libudev-dev

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Build binary
        run: cargo build --verbose
        env:
          RUST_BACKTRACE: 1